In [34]:
import pandas as pd

df = pd.read_csv("kaggle_survey_2020_responses.csv")
df.head()

C:\Users\snkty\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q35_B_Part_2,Q35_B_Part_3,Q35_B_Part_4,Q35_B_Part_5,Q35_B_Part_6,Q35_B_Part_7,Q35_B_Part_8,Q35_B_Part_9,Q35_B_Part_10,Q35_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,1838,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN
2,289287,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,860,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,507,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# Way too many columns
df = df[['Q1',
         'Q2', 
         'Q3',
         'Q4', 
         'Q5', 
         'Q6',
         'Q7_Part_1', 
         'Q7_Part_2', 
         'Q7_Part_3', 
         'Q7_Part_4',
         'Q7_Part_5',
         'Q7_Part_6',
         'Q7_Part_7',
         'Q7_Part_8', 
         'Q7_Part_9',
         'Q7_Part_10',
         'Q7_Part_11', 
         'Q7_Part_12',
         'Q9_Part_1',
         'Q9_Part_2',
         'Q9_Part_3',
         'Q9_Part_4',
         'Q9_Part_5',
         'Q9_Part_6',
         'Q9_Part_7',
         'Q9_Part_8',
         'Q9_Part_9',
         'Q9_Part_10',
         'Q9_Part_11',
         'Q10_Part_1',
         'Q10_Part_2',
         'Q10_Part_3',
         'Q10_Part_4',
         'Q10_Part_5',
         'Q10_Part_6',
         'Q10_Part_7',
         'Q10_Part_8',
         'Q10_Part_9',
         'Q10_Part_10',
         'Q10_Part_11',
         'Q10_Part_12',
         'Q10_Part_13',
         'Q14_Part_1',
         'Q14_Part_2',
         'Q14_Part_3',
         'Q14_Part_4',
         'Q14_Part_5',
         'Q14_Part_6',
         'Q14_Part_7',
         'Q14_Part_8',
         'Q14_Part_9',
         'Q14_Part_10',
         'Q14_Part_11',
         'Q15',
         'Q16_Part_1',
         'Q16_Part_2',
         'Q16_Part_3',
         'Q16_Part_4',
         'Q16_Part_5',
         'Q16_Part_6',
         'Q16_Part_7',
         'Q16_Part_8',
         'Q16_Part_9',
         'Q16_Part_10',
         'Q16_Part_11',
         'Q16_Part_12',
         'Q16_Part_13',
         'Q16_Part_14',
         'Q16_Part_15',
         'Q17_Part_1',
         'Q17_Part_2',
         'Q17_Part_3',
         'Q17_Part_4',
         'Q17_Part_5',
         'Q17_Part_6',
         'Q17_Part_7',
         'Q17_Part_8',
         'Q17_Part_9',
         'Q17_Part_10',
         'Q17_Part_11',
         'Q19_Part_1',
         'Q19_Part_2',
         'Q19_Part_3',
         'Q19_Part_4',
         'Q19_Part_5',
         'Q20',
         'Q21',
         'Q22',
         'Q23_Part_1',
         'Q23_Part_2',
         'Q23_Part_3',
         'Q23_Part_4',
         'Q23_Part_5',
         'Q23_Part_6',
         'Q23_Part_7',
         'Q24',
         'Q25',
         'Q28_A_Part_1',
         'Q28_A_Part_2',
         'Q28_A_Part_3',
         'Q28_A_Part_4',
         'Q28_A_Part_5',
         'Q28_A_Part_6',
         'Q28_A_Part_7',
         'Q28_A_Part_8',
         'Q28_A_Part_9',
         'Q28_A_Part_10',
         'Q35_A_Part_1',
         'Q35_A_Part_2',
         'Q35_A_Part_3',
         'Q35_A_Part_4',
         'Q35_A_Part_5',
         'Q35_A_Part_6',
         'Q35_A_Part_7',
         'Q35_A_Part_8',
         'Q35_A_Part_9',
         'Q35_A_Part_10',
         'Q37_Part_1',
         'Q37_Part_2',
         'Q37_Part_3',
         'Q37_Part_4',
         'Q37_Part_5',
         'Q37_Part_6',
         'Q37_Part_7',
         'Q37_Part_8',
         'Q37_Part_9',
         'Q37_Part_10',
         'Q37_Part_11',
         'Q39_Part_1',
         'Q39_Part_2',
         'Q39_Part_3',
         'Q39_Part_4',
         'Q39_Part_5',
         'Q39_Part_6',
         'Q39_Part_7',
         'Q39_Part_8',
         'Q39_Part_9',
         'Q39_Part_10',
         'Q39_Part_11']]

In [36]:
# Rename Columns 
df.columns = ['Age',
         'Gender', 
         'Country',
         'Education', 
         'Job_Title', 
         'Years_Coding',
         'Q7_Part_1', 
         'Q7_Part_2', 
         'Q7_Part_3', 
         'Q7_Part_4',
         'Q7_Part_5',
         'Q7_Part_6',
         'Q7_Part_7',
         'Q7_Part_8', 
         'Q7_Part_9',
         'Q7_Part_10',
         'Q7_Part_11', 
         'Q7_Part_12',
         'Q9_Part_1',
         'Q9_Part_2',
         'Q9_Part_3',
         'Q9_Part_4',
         'Q9_Part_5',
         'Q9_Part_6',
         'Q9_Part_7',
         'Q9_Part_8',
         'Q9_Part_9',
         'Q9_Part_10',
         'Q9_Part_11',
         'Q10_Part_1',
         'Q10_Part_2',
         'Q10_Part_3',
         'Q10_Part_4',
         'Q10_Part_5',
         'Q10_Part_6',
         'Q10_Part_7',
         'Q10_Part_8',
         'Q10_Part_9',
         'Q10_Part_10',
         'Q10_Part_11',
         'Q10_Part_12',
         'Q10_Part_13',
         'Q14_Part_1',
         'Q14_Part_2',
         'Q14_Part_3',
         'Q14_Part_4',
         'Q14_Part_5',
         'Q14_Part_6',
         'Q14_Part_7',
         'Q14_Part_8',
         'Q14_Part_9',
         'Q14_Part_10',
         'Q14_Part_11',
         'Years_of_ML',
         'Q16_Part_1',
         'Q16_Part_2',
         'Q16_Part_3',
         'Q16_Part_4',
         'Q16_Part_5',
         'Q16_Part_6',
         'Q16_Part_7',
         'Q16_Part_8',
         'Q16_Part_9',
         'Q16_Part_10',
         'Q16_Part_11',
         'Q16_Part_12',
         'Q16_Part_13',
         'Q16_Part_14',
         'Q16_Part_15',
         'Q17_Part_1',
         'Q17_Part_2',
         'Q17_Part_3',
         'Q17_Part_4',
         'Q17_Part_5',
         'Q17_Part_6',
         'Q17_Part_7',
         'Q17_Part_8',
         'Q17_Part_9',
         'Q17_Part_10',
         'Q17_Part_11',
         'Q19_Part_1',
         'Q19_Part_2',
         'Q19_Part_3',
         'Q19_Part_4',
         'Q19_Part_5',
         'Company_Size',
         'Work_Load_Size',
         'ML_Access',
         'Q23_Part_1',
         'Q23_Part_2',
         'Q23_Part_3',
         'Q23_Part_4',
         'Q23_Part_5',
         'Q23_Part_6',
         'Q23_Part_7',
         'Salary',
         'Money_Spent_on_ML',
         'Q28_A_Part_1',
         'Q28_A_Part_2',
         'Q28_A_Part_3',
         'Q28_A_Part_4',
         'Q28_A_Part_5',
         'Q28_A_Part_6',
         'Q28_A_Part_7',
         'Q28_A_Part_8',
         'Q28_A_Part_9',
         'Q28_A_Part_10',
         'Q35_A_Part_1',
         'Q35_A_Part_2',
         'Q35_A_Part_3',
         'Q35_A_Part_4',
         'Q35_A_Part_5',
         'Q35_A_Part_6',
         'Q35_A_Part_7',
         'Q35_A_Part_8',
         'Q35_A_Part_9',
         'Q35_A_Part_10',
         'Q37_Part_1',
         'Q37_Part_2',
         'Q37_Part_3',
         'Q37_Part_4',
         'Q37_Part_5',
         'Q37_Part_6',
         'Q37_Part_7',
         'Q37_Part_8',
         'Q37_Part_9',
         'Q37_Part_10',
         'Q37_Part_11',
         'Q39_Part_1',
         'Q39_Part_2',
         'Q39_Part_3',
         'Q39_Part_4',
         'Q39_Part_5',
         'Q39_Part_6',
         'Q39_Part_7',
         'Q39_Part_8',
         'Q39_Part_9',
         'Q39_Part_10',
         'Q39_Part_11']

In [37]:
#Combine Mulitple Choice Answers
df['Programming_Langauges'] = df [['Q7_Part_1',
                                   'Q7_Part_2',
                                   'Q7_Part_3',
                                   'Q7_Part_4',
                                   'Q7_Part_5',
                                   'Q7_Part_6',
                                   'Q7_Part_7',
                                   'Q7_Part_8',
                                   'Q7_Part_9',
                                   'Q7_Part_10',
                                   'Q7_Part_11']].apply(lambda x: ','.join(x.astype(str).replace(['nan', 'None'], '')), axis = 1)


df['IDEs'] = df [['Q9_Part_1',
                  'Q9_Part_2',
                  'Q9_Part_3',
                  'Q9_Part_4',
                  'Q9_Part_5',
                  'Q9_Part_6',
                  'Q9_Part_7',
                  'Q9_Part_8',
                  'Q9_Part_9',
                  'Q9_Part_10',
                  'Q9_Part_11']].apply(lambda x: ','.join(x.astype(str).replace(['nan', 'None'], '')), axis = 1)


df['Notebooks'] = df [['Q10_Part_1',
                       'Q10_Part_2',
                       'Q10_Part_3',
                       'Q10_Part_4',
                       'Q10_Part_5',
                       'Q10_Part_6',
                       'Q10_Part_7',
                       'Q10_Part_8',
                       'Q10_Part_9',
                       'Q10_Part_10',
                       'Q10_Part_11',
                       'Q10_Part_12',
                       'Q10_Part_13']].apply(lambda x: ','.join(x.astype(str).replace(['nan', 'None'], '')), axis = 1)


df['data_visualization'] = df[['Q14_Part_1',
                               'Q14_Part_2',
                               'Q14_Part_3',
                               'Q14_Part_4',
                               'Q14_Part_5',
                               'Q14_Part_6',
                               'Q14_Part_7',
                               'Q14_Part_8',
                               'Q14_Part_9',
                               'Q14_Part_10',
                               'Q14_Part_11']].apply(lambda x: ','.join(x.astype(str).replace(['nan', 'None'], '')), axis = 1)


df['ML_frameworks'] = df[['Q16_Part_1',
                 'Q16_Part_2',
                 'Q16_Part_3',
                 'Q16_Part_4',
                 'Q16_Part_5',
                 'Q16_Part_6',
                 'Q16_Part_7',
                 'Q16_Part_8',
                 'Q16_Part_9',
                 'Q16_Part_10',
                 'Q16_Part_11',
                 'Q16_Part_12',
                 'Q16_Part_13',
                 'Q16_Part_14',
                 'Q16_Part_15']].apply(lambda x: ','.join(x.astype(str).replace(['nan', 'None'], '')), axis = 1)



df['ML_algorithms'] = df[['Q17_Part_1',
                      'Q17_Part_2',
                      'Q17_Part_3',
                      'Q17_Part_4',
                      'Q17_Part_5',
                      'Q17_Part_6',
                      'Q17_Part_7',
                      'Q17_Part_8',
                      'Q17_Part_9',
                      'Q17_Part_10',
                      'Q17_Part_11']].apply(lambda x: ','.join(x.astype(str).replace(['nan', 'None'], '')), axis = 1)


df['NLP'] = df[['Q19_Part_1',
                'Q19_Part_2',
                'Q19_Part_3',
                'Q19_Part_4',
                'Q19_Part_5']].apply(lambda x: ','.join(x.astype(str).replace(['nan', 'None'], '')), axis = 1)


df['Important_Roles'] = df[['Q23_Part_1',
                          'Q23_Part_2',
                          'Q23_Part_3',
                          'Q23_Part_4',
                          'Q23_Part_5',
                          'Q23_Part_6',
                          'Q23_Part_7',]].apply(lambda x: ','.join(x.astype(str).replace(['nan', 'None'], '')), axis = 1)

df['ML_Products'] = df[['Q28_A_Part_1',
                        'Q28_A_Part_2',
                        'Q28_A_Part_3',
                        'Q28_A_Part_4',
                        'Q28_A_Part_5',
                        'Q28_A_Part_6',
                        'Q28_A_Part_7',
                        'Q28_A_Part_8',
                        'Q28_A_Part_9',
                        'Q28_A_Part_10']].apply(lambda x: ','.join(x.astype(str).replace(['nan', 'None'], '')), axis = 1)


df['ML_Tools'] = df[['Q35_A_Part_1',
                   'Q35_A_Part_2',
                   'Q35_A_Part_3',
                   'Q35_A_Part_4',
                   'Q35_A_Part_5',
                   'Q35_A_Part_6',
                   'Q35_A_Part_7',
                   'Q35_A_Part_8',
                   'Q35_A_Part_9',
                   'Q35_A_Part_10',]].apply(lambda x: ','.join(x.astype(str).replace(['nan', 'None'], '')), axis = 1)

df['Data_Science_Path']  = df[['Q37_Part_1',
                               'Q37_Part_2',
                               'Q37_Part_3',
                               'Q37_Part_4',
                               'Q37_Part_5',
                               'Q37_Part_6',
                               'Q37_Part_7',
                               'Q37_Part_8',
                               'Q37_Part_9',
                               'Q37_Part_10',
                               'Q37_Part_11']].apply(lambda x: ','.join(x.astype(str).replace(['nan', 'None'], '')), axis = 1)


df['Media_sources'] = df[['Q39_Part_1',
                          'Q39_Part_2',
                          'Q39_Part_3',
                          'Q39_Part_4',
                          'Q39_Part_5',
                          'Q39_Part_6',
                          'Q39_Part_7',
                          'Q39_Part_8',
                          'Q39_Part_9',
                          'Q39_Part_10',
                          'Q39_Part_11']].apply(lambda x: ','.join(x.astype(str).replace(['nan', 'None'], '')), axis = 1)

In [38]:
# Delete Individial Answer Columns
for col in df.columns:
    if 'Part' in col:
        del df[col]

In [39]:
#Drop NAN Values
df = df.dropna()

In [40]:
Women_df = df[df['Gender'] == 'Woman']
Women_df

,Age,Gender,Country,Education,Job_Title,Years_Coding,Years_of_ML,Company_Size,Work_Load_Size,ML_Access,...,Notebooks,data_visualization,ML_frameworks,ML_algorithms,NLP,Important_Roles,ML_Products,ML_Tools,Data_Science_Path,Media_sources
21,22-24,Woman,India,Doctoral degree,Statistician,3-5 years,4-5 years,50-249 employees,1-2,We are exploring ML methods (and may one day p...,...,"Kaggle Notebooks,,,,,,,,,,,,",",,,,,,,,,,",",,,,,,,,,,,,,,","Linear or Logistic Regression,Decision Trees o...",",,,,",Analyze and understand data to influence produ...,",,,,,,,,,",",,,,,,,,,","Coursera,,,,,,,,,University Courses (resulting...",",Email newsletters (Data Elixir, O'Reilly Data..."
23,55-59,Woman,Canada,Master’s degree,Product/Project Manager,1-2 years,1-2 years,250-999 employees,5-9,"We recently started using ML methods (i.e., mo...",...,",,,,,, IBM Watson Studio , Amazon Sagemaker St...","Matplotlib , Seaborn ,,,,,, Bokeh , Geoplotli...",",,,,,,,,,,,,,,","Linear or Logistic Regression,Decision Trees o...",",,,,",",,,Build and/or run a machine learning service...","Amazon SageMaker ,,,,,,,,,",",,,,,,,,,No / None","Coursera,,Kaggle Learn Courses,,,,,LinkedIn Le...",",,,Kaggle (notebooks, forums, etc),,,Podcasts ..."
31,35-39,Woman,Pakistan,Master’s degree,Data Analyst,5-10 years,4-5 years,"1000-9,999 employees",3-4,We use ML methods for generating insights (but...,...,",,,, Binder / JupyterHub ,,,,,,,,","Matplotlib ,, Plotly / Plotly Express , Ggplo...","Scikit-learn , TensorFlow , Keras ,,,, Xgbo...","Linear or Logistic Regression,Decision Trees o...","Word embeddings/vectors (GLoVe, fastText, word...",Analyze and understand data to influence produ...,",,,,,,,,,",",,, Sacred + Omniboard , TensorBoard ,,, Train...","Coursera,,Kaggle Learn Courses,DataCamp,,Udaci...","Twitter (data science influencers),Email newsl..."
45,25-29,Woman,Belarus,Master’s degree,Machine Learning Engineer,1-2 years,Under 1 year,0-49 employees,0,I do not know,...,"Kaggle Notebooks,,,,,,,,,,,,","Matplotlib , Seaborn ,,,,,,,,,","Scikit-learn , TensorFlow , Keras ,,,,,,,,,,,,","Linear or Logistic Regression,,Gradient Boosti...",",,,,",",,,,,Do research that advances the state of th...",",,,,,,,,,",",,,,,,,,,",",,,,,,,,,,",",,,,,,,,,,"
61,18-21,Woman,Indonesia,Bachelor’s degree,Data Scientist,< 1 years,Under 1 year,0-49 employees,20+,"We recently started using ML methods (i.e., mo...",...,",,,,,,,,,,,,",",,, Ggplot / ggplot2 ,,,,,,,",",, Keras ,,,,,,,,, Caret ,,,","Linear or Logistic Regression,Decision Trees o...",",,,,",Analyze and understand data to influence produ...,",,,,,,,,,",",,,,,,,,,",",,,DataCamp,,,,,,University Courses (resulting...",",,,Kaggle (notebooks, forums, etc),,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19972,30-34,Woman,Kenya,Master’s degree,Other,< 1 years,I do not use machine learning methods,0-49 employees,3-4,No (we do not use ML methods),...,",,,,,,,,,,,,","Matplotlib ,,,,,,,,,,",",,,,,,,,,,,,,,",",,,,,,,,,,",",,,,",Analyze and understand data to influence produ...,",,,,,,,,,",",,,,,,,,,","Coursera,,,,,,,,,,",",,,,Course Forums (forums.fast.ai, Coursera fo..."
19983,22-24,Woman,Ireland,Some college/university study without earning ...,Software Engineer,1-2 years,Under 1 year,"10,000 or more employees",20+,We use ML methods for generating insights (but...,...,"Kaggle Notebooks,,,,,,,,,,Google Cloud Datala...","Matplotlib ,,,,,,,, Geoplotlib ,,","Scikit-learn ,,, PyTorch ,,,,,,,,,,,","Linear or Logistic Regression,Decision Trees o...",",,,,",Analyze and understand data to influence produ...,",,,,,,,,,No / None",", Weights & Biases ,,,,,,,,",",,Kaggle Learn Courses,,,,Udemy,,Cloud-certifi...",",,Reddit (r/machinelearning, etc),Kaggle (note..."
19998,22-24,Woman,Romania,Master’s degree,Other,3-5 years,Under 1 year,0-49 employees,0,No (we do not use ML methods),...,",,,,,,,,,,,,",",,,,,,,,,,",", TensorFlow , Keras ,,,,,,,,,,,,",",,,,,,Convolutional Neural Networks,,,,",",,,,",",,,,,,None of these activities are an importan...",",,,,,,,,,",",,,,,,,,,",",,Kaggle Learn Courses,,,,,,,,",",,,Kaggle (notebooks, forums, etc),,YouTube (K..."
20008,22-24,Woman,India,Master’s degree,Software Engineer,< 1 years,Under 1 year,50-249 employees,5-9,"We recently started using ML methods (i.e., mo...",...,",,,, Binder / JupyterHub ,,,,,,,,","Matplotlib , Seaborn , Plotly / Plotly Expres...","Scikit-learn , TensorFlow , Keras , PyTorch...","Linear or Logistic Regression,Decision Trees o...",",,,,",",,,,Experimentation and iteration to improve e...",",,,, Azure Cognitive Services ,,,, Google Clou...",",,,, TensorBoard ,,,,,",",,,,,,,,,,",",,,,,,,,,,"
20014,30-34,Woman,Turkey,Bachelor’s degree,Other,1-2 years,Under 1 year,"1000-9,999 employees",0,I do not know,...,"Kaggle Notebooks,,,,,,,,,,,,",", Seaborn ,,,,,,,,,","Scikit-learn ,,,,,, Xgboost ,,,,,,,,","Linear or Logistic Regression,Decision Trees o...",",,,,",",,,,,,None of these activities are an importan...",",,,,,,,,,",",,,,,,,,,No / None","Coursera,,Kaggle Learn Courses,,,,Udemy,,,,","Twitter (data science influencers),Email newsl..."

In [41]:
Men_df = df[df['Gender'] == 'Man']
Men_df

,Age,Gender,Country,Education,Job_Title,Years_Coding,Years_of_ML,Company_Size,Work_Load_Size,ML_Access,...,Notebooks,data_visualization,ML_frameworks,ML_algorithms,NLP,Important_Roles,ML_Products,ML_Tools,Data_Science_Path,Media_sources
2,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,1-2 years,"10,000 or more employees",20+,"We have well established ML methods (i.e., mod...",...,",Colab Notebooks,,,,,,,,,,,","Matplotlib , Seaborn ,, Ggplot / ggplot2 , Sh...","Scikit-learn , TensorFlow , Keras , PyTorch...","Linear or Logistic Regression,,,,,,Convolution...",",,Contextualized embeddings (ELMo, CoVe),Trans...",Analyze and understand data to influence produ...,"Amazon SageMaker ,,,,,,,,,",",,,,,,,,,No / None","Coursera,,,DataCamp,,,Udemy,,,,","Twitter (data science influencers),,Reddit (r/..."
3,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,I do not use machine learning methods,"1000-9,999 employees",0,No (we do not use ML methods),...,",,,,,,,,,,,,",",,,,, D3 js ,,,,,",",,,,,,,,,,,,,,",",,,,,,,,,,",",,,,",",,,,,,None of these activities are an importan...",",,,,,,,,,",",,,,,,,,,No / None","Coursera,edX,,,,Udacity,Udemy,,,,",",Email newsletters (Data Elixir, O'Reilly Data..."
4,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,3-4 years,250-999 employees,5-9,"We have well established ML methods (i.e., mod...",...,",,,,,,,,,,,,","Matplotlib , Seaborn , Plotly / Plotly Expres...","Scikit-learn , TensorFlow , Keras ,,,, Xgbo...","Linear or Logistic Regression,Decision Trees o...",",,,,",Analyze and understand data to influence produ...,",,,,,,,,,No / None",",,,,,,,,,No / None","Coursera,,,DataCamp,,,,LinkedIn Learning,,Univ...",",,,,,,,,,,"
9,35-39,Man,Germany,Doctoral degree,Data Scientist,5-10 years,2-3 years,"1000-9,999 employees",20+,"We have well established ML methods (i.e., mod...",...,"Kaggle Notebooks,Colab Notebooks,,,,,,,,,,,","Matplotlib , Seaborn ,,,,, Altair , Bokeh ,,,","Scikit-learn , TensorFlow , Keras , PyTorch...",",,Gradient Boosting Machines (xgboost, lightgb...",",,,,",",,Build prototypes to explore applying machine...",",,,,,,,,,No / None",",,,, TensorBoard ,,,,,","Coursera,,,,Fast.ai,Udacity,Udemy,LinkedIn Lea...",",Email newsletters (Data Elixir, O'Reilly Data..."
12,35-39,Man,United States of America,Doctoral degree,Research Scientist,1-2 years,Under 1 year,0-49 employees,1-2,We use ML methods for generating insights (but...,...,",,,,,,,,,,,,",",,, Ggplot / ggplot2 ,,,,,,,",",,,,,,,,,,,, Tidymodels ,,","Linear or Logistic Regression,,,,,,,,,,",",,,,",Analyze and understand data to influence produ...,",,,,,,,,,",",,,,,,,,,No / None",",,,,,,,,,,",",,,,,,,Blogs (Towards Data Science, Analytics ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20025,35-39,Man,Malaysia,I prefer not to answer,Machine Learning Engineer,1-2 years,1-2 years,0-49 employees,5-9,I do not know,...,",,,,,,,,,,,,","Matplotlib ,,,,,,,,,,","Scikit-learn ,, Keras , PyTorch ,,,,,,,,,,,","Linear or Logistic Regression,Decision Trees o...","Word embeddings/vectors (GLoVe, fastText, word...",Analyze and understand data to influence produ...,",,,,,,,,,",",,,,,,,,,",",,,,,,Udemy,,,,",",,,Kaggle (notebooks, forums, etc),,YouTube (K..."
20030,35-39,Man,Thailand,Bachelor’s degree,Other,10-20 years,I do not use machine learning methods,250-999 employees,0,No (we do not use ML methods),...,",,,,,,,,,,,,",",,,,,,,,,,",",,,,,,,,,,,,,,",",,,,,,,,,,",",,,,",Analyze and understand data to influence produ...,",,,,,,,,,No / None",",,,,,,,,,No / None",",,,,,,,,,,",",,,,,YouTube (Kaggle YouTube, Cloud AI Adventu..."
20034,30-34,Man,Brazil,Master’s degree,Research Scientist,< 1 years,I do not use machine learning methods,0-49 employees,0,We are exploring ML methods (and may one day p...,...,",Colab Notebooks,,,,,,,,,,,","Matplotlib , Seaborn ,,,,,,,,,",",,,,,,,,,,,,,,",",,,,,,,,,,",",,,,",Analyze and understand data to influence produ...,",,,,,,,,,",",,,,,,,,,",",,,,,,,,,,",",,,,,,,,,,"
20035,22-24,Man,India,Bachelor’s degree,Software Engineer,3-5 years,1-2 years,"10,000 or more employees",20+,"We recently started using ML methods (i.e., mo...",...,",Colab Notebooks,,,,,,,,,,,","Matplotlib , Seaborn , Plotly / Plotly Expres...","Scikit-learn , TensorFlow , Keras , PyTorch...","Linear or Logistic Regression,Decision Trees o...","Word embeddings/vectors (GLoVe, fastText, word...",Analyze and understand data to influence produ...,",,,,,,,,,",",,,,,,,,,","Coursera,,,,,,,,,,","Twitter (data science influencers),,,Kaggle (n..."
20036,22-24,Man,Pakistan,Master’s degree,Machine Learning Engineer,< 1 years,Under 1 year,0-49 employees,0,I do not know,...,",Colab Notebooks,,,,,,,,,,,","Matplotlib ,,,,,,,,,,",", TensorFlow ,,,,,,,,,,,,,","Linear or Logistic Regression,Decision Trees o...",",,,,",Analyze and understand data to influence produ...,",,,,,,,,,",",,,,,,,,,","Coursera,edX,Kaggle Learn Courses,,Fast.ai,Uda...",",,,Kaggle (notebooks, forums, etc),Course Foru..."

In [42]:
df.to_csv(r"clean_kaggle_survey_2020_responses1.csv")