# 2018 Stack Flow Developer Survey Data Set

### Import Dependencies

In [2]:
import pandas as pd

In [19]:
#filepath = "./ResourcesFiles/2018survey_results_public.csv" # Load the dataset.
#alldata= pd.read_csv(filepath)#, index_col=0)
#alldata.head(2)
#alldata.columns.tolist()

#### Load Kaggle Data for Comparison

In [4]:
filepath = "../Gender_Gap_In_Tech_Survery_Data/kaggle_survey_2020_responses.csv" # Load the dataset.
kaggledata= pd.read_csv(filepath, usecols=[ 'Q1','Q2','Q3','Q4','Q5','Q6', 'Q24',]) #Read the Data as a Panda Dataframe 
header = [ 'Age','Gender','Country','Formal Education','Position','Year Coding', 'Salary',]# Set headers NAme 
kaggledata = kaggledata[1:] #take the data less the header row
kaggledata.columns = header #set the header row with header variable we created
kaggledf = kaggledata[(kaggledata['Country'] == 'United States of America')].dropna()#take only values with US & drop null values
# ReOrderheader = [ 'Country', 'Gender', 'Age','Formal Education','Position','Year Coding','Org Size', 'Salary',]
kaggledf.head(1)

,Age,Gender,Country,Formal Education,Position,Year Coding,Salary
2,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,"100,000-124,999"

# STACK OVER FLOW DATA

In [9]:
#data= pd.read_csv(filepath, index_col=0)
filepath = "./ResourcesFiles/2018survey_results_public.csv" # Load the dataset.
stackdata= pd.read_csv(filepath, usecols=[ 'Age','Gender','Country','FormalEducation','YearsCoding','Salary',])#Read the Data as a Panda Dataframe
stack_df = stackdata[(stackdata['Country'] == 'United States')].dropna()#take only values with US & drop null values
#header =  ['Age','Gender','Country','Formal Education','Year Coding', 'Salary',] #Reindex/Rename Columns 
stack_df.head()

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (52,120,124) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Country,FormalEducation,YearsCoding,Salary,Gender,Age
6,United States,Some college/university study without earning ...,9-11 years,120000,Male,18 - 24 years old
8,United States,Some college/university study without earning ...,30 or more years,250000,Male,35 - 44 years old
23,United States,Some college/university study without earning ...,18-20 years,75000,"Female;Male;Transgender;Non-binary, genderquee...",45 - 54 years old
27,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)",3-5 years,75000,Male,25 - 34 years old
32,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)",6-8 years,44000,Female,18 - 24 years old

In [10]:
stack_df.columns # Print Column Name

Index(['Country', 'FormalEducation', 'YearsCoding', 'Salary', 'Gender', 'Age'], dtype='object')

In [11]:
stack_df.dtypes # Print DataTypes

Country            object
FormalEducation    object
YearsCoding        object
Salary             object
Gender             object
Age                object
dtype: object

In [12]:
#Check for Null Values
for column in stack_df.columns:
    print(f"Column {column} has {stack_df[column].isnull().sum()} null values")

Column Country has 0 null values
Column FormalEducation has 0 null values
Column YearsCoding has 0 null values
Column Salary has 0 null values
Column Gender has 0 null values
Column Age has 0 null values

#### Job Satisfaction Data Set

In [14]:
#Load the data set 
filepath = "./ResourcesFiles/2018survey_results_public.csv" # Load the dataset.
JobSatData= pd.read_csv(filepath, usecols=[ 'Gender','Country', 'JobSatisfaction','UndergradMajor',])
Job_sat_df = JobSatData[(JobSatData['Country'] == 'United States')].dropna()#take only values with US & drop null values
Job_sat_df.head(1)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (12,120) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Country,UndergradMajor,JobSatisfaction,Gender
3,United States,"Computer science, computer engineering, or sof...",Neither satisfied nor dissatisfied,Male

### Women only DataFrame

In [17]:
### Select gender equal to women Column 
stack_women_df= stack_df[(stack_df ['Gender'] == 'Female')]
stack_women_df.head()

,Country,FormalEducation,YearsCoding,Salary,Gender,Age
32,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)",6-8 years,44000,Female,18 - 24 years old
33,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)",3-5 years,60000,Female,25 - 34 years old
242,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)",3-5 years,65000,Female,25 - 34 years old
269,United States,Some college/university study without earning ...,3-5 years,52000,Female,18 - 24 years old
347,United States,"Other doctoral degree (Ph.D, Ed.D., etc.)",15-17 years,113000,Female,35 - 44 years old

### Man Only DataFrame

In [18]:
# Select only the data with the gender equal to "Man"
stack_men_df= stack_df[(stack_df ['Gender'] == 'Male')]
stack_men_df.head()

,Country,FormalEducation,YearsCoding,Salary,Gender,Age
6,United States,Some college/university study without earning ...,9-11 years,120000,Male,18 - 24 years old
8,United States,Some college/university study without earning ...,30 or more years,250000,Male,35 - 44 years old
27,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)",3-5 years,75000,Male,25 - 34 years old
35,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)",12-14 years,80000,Male,25 - 34 years old
43,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)",9-11 years,74000,Male,25 - 34 years old

In [ ]:
# Save New cleaned File 
#output_file_path = "../Resources/2020StackOverFlow_DevSurvey/clean_survey_results_public.csv""]
#us_df.to_csv(output_file_path, index=False)