# 2020 Stack Flow Developer Survey Data Set

### Import Dependencies

In [36]:
import pandas as pd

In [37]:
filepath = "./ResourcesFiles/2017survey_results_public.csv" # Load the dataset.
alldata= pd.read_csv(filepath)#, index_col=0)
alldata.head(1)
#alldata.columns.tolist()

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN

#### Load Kaggle Data for Comparison

In [38]:
filepath = "../Gender_Gap_In_Tech_Survery_Data/kaggle_survey_2020_responses.csv" # Load the dataset.
kaggledata= pd.read_csv(filepath, usecols=[ 'Q1','Q2','Q3','Q4','Q5','Q6', 'Q24',]) #Read the Data as a Panda Dataframe 
header = [ 'Age','Gender','Country','Formal Education','Position','Year Coding', 'Salary',]# Set headers NAme 
kaggledata = kaggledata[1:] #take the data less the header row
kaggledata.columns = header #set the header row with header variable we created
kaggledf = kaggledata[(kaggledata['Country'] == 'United States of America')].dropna()#take only values with US & drop null values
# ReOrderheader = [ 'Country', 'Gender', 'Age','Formal Education','Position','Year Coding','Org Size', 'Salary',]
kaggledf.head(1)

,Age,Gender,Country,Formal Education,Position,Year Coding,Salary
2,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,"100,000-124,999"

# STACK OVER FLOW DATA

In [44]:
#data= pd.read_csv(filepath, index_col=0)
filepath = "./ResourcesFiles/2017survey_results_public.csv" # Load the dataset.
stackdata= pd.read_csv(filepath, usecols=[ 'Gender','Country','FormalEducation','Salary','DeveloperType','WebDeveloperType',])#Read the Data as a Panda Dataframe
stack_df = stackdata[(stackdata['Country'] == 'United States')].dropna()#take only values with US & drop null values
#header =  ['Age','Gender','Country','Formal Education','Year Coding', 'Salary',] #Reindex/Rename Columns 
stack_df.head()
#stackdata= pd.read_csv(filepath, usecols=[ 'Age','Gender','Country','FormalEducation','YearsCoding','Salary','JobProfile',])#Read the Data as a Panda Dataframe

,Country,FormalEducation,DeveloperType,WebDeveloperType,Gender,Salary
25,United States,Master's degree,Web developer,Back-end Web developer,Male,175000.0
70,United States,Some college/university study without earning ...,Web developer,Full stack Web developer,Male,65000.0
72,United States,Some college/university study without earning ...,Web developer,Full stack Web developer,Male,120000.0
76,United States,Some college/university study without earning ...,Web developer,Full stack Web developer,Male,96283.0
81,United States,Bachelor's degree,Web developer,Full stack Web developer,Male,110000.0

In [41]:
stack_df.columns # Print Column Name

Index(['Country', 'FormalEducation', 'DeveloperType', 'WebDeveloperType',
       'Gender', 'Salary'],
      dtype='object')

In [42]:
stack_df.dtypes # Print DataTypes

Country              object
FormalEducation      object
DeveloperType        object
WebDeveloperType     object
Gender               object
Salary              float64
dtype: object

In [43]:
#Check for Null Values
for column in stack_df.columns:
    print(f"Column {column} has {stack_df[column].isnull().sum()} null values")

Column Country has 0 null values
Column FormalEducation has 0 null values
Column DeveloperType has 0 null values
Column WebDeveloperType has 0 null values
Column Gender has 0 null values
Column Salary has 0 null values

#### Job Satisfaction Data Set

In [35]:
#alldata.columns.tolist()

In [30]:
#Load the data set 
filepath = "./ResourcesFiles/2017survey_results_public.csv" # Load the dataset.
JobSatData= pd.read_csv(filepath, usecols=[ 'Gender','Country','JobSatisfaction','MajorUndergrad',])
Job_sat_df = JobSatData[(JobSatData['Country'] == 'United States')].dropna()#take only values with US & drop null values
Job_sat_df.head(1)

,Country,MajorUndergrad,JobSatisfaction,Gender
3,United States,A non-computer-focused engineering discipline,3.0,Male

### Women only DataFrame

In [33]:
### Select gender equal to women Column 
stack_women_df= stack_df[(stack_df ['Gender'] == 'Female')]
stack_women_df.head()

,Country,FormalEducation,DeveloperType,WebDeveloperType,Gender,Salary
103,United States,Bachelor's degree,Web developer,Front-end Web developer,Female,51000.0
1209,United States,Bachelor's degree,Web developer,Front-end Web developer,Female,55000.0
1639,United States,Professional degree,Web developer,Full stack Web developer,Female,60000.0
1816,United States,Bachelor's degree,Web developer,Full stack Web developer,Female,89000.0
1832,United States,Master's degree,Web developer,Full stack Web developer,Female,136000.0

### Man Only DataFrame

In [34]:
# Select only the data with the gender equal to "Man"
stack_men_df= stack_df[(stack_df ['Gender'] == 'Male')]
stack_men_df.head()

,Country,FormalEducation,DeveloperType,WebDeveloperType,Gender,Salary
25,United States,Master's degree,Web developer,Back-end Web developer,Male,175000.0
70,United States,Some college/university study without earning ...,Web developer,Full stack Web developer,Male,65000.0
72,United States,Some college/university study without earning ...,Web developer,Full stack Web developer,Male,120000.0
76,United States,Some college/university study without earning ...,Web developer,Full stack Web developer,Male,96283.0
81,United States,Bachelor's degree,Web developer,Full stack Web developer,Male,110000.0

In [ ]:
# Save New cleaned File 
#output_file_path = "../Resources/2020StackOverFlow_DevSurvey/clean_survey_results_public.csv""]
#us_df.to_csv(output_file_path, index=False)