# 2020 Stack Flow Developer Survey Data Set

### Import Dependencies

In [3]:
import pandas as pd

In [4]:
filepath = "./ResourcesFiles/2020SurveyResultsPublic.csv" # Load the dataset.
alldata= pd.read_csv(filepath)#, index_col=0)
alldata.head(2)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4

#### Load Kaggle Data for Comparison

In [5]:
kagglefilepath = "../Gender_Gap_In_Tech_Survery_Data/kaggle_survey_2020_responses.csv" # Load the dataset.
kaggledata= pd.read_csv(kagglefilepath, usecols=[ 'Q1','Q2','Q3','Q4','Q5','Q6', 'Q24',]) #Read the Data as a Panda Dataframe 
header = [ 'Age','Gender','Country','Formal Education','Position','Year Coding', 'Salary',]# Set headers NAme 
kaggledata = kaggledata[1:] #take the data less the header row
kaggledata.columns = header #set the header row with header variable we created
kaggledf = kaggledata[(kaggledata['Country'] == 'United States of America')].dropna()#take only values with US & drop null values
# ReOrderheader = [ 'Country', 'Gender', 'Age','Formal Education','Position','Year Coding','Org Size', 'Salary',]
kaggledf.head(1)

,Age,Gender,Country,Formal Education,Position,Year Coding,Salary
2,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,"100,000-124,999"

# STACK OVER FLOW DATA

In [6]:
filepath = "./ResourcesFiles/2020SurveyResultsPublic.csv"  # Load the dataset.
stackdata= pd.read_csv(filepath, usecols=[ 'Age','Gender','Country','EdLevel','YearsCode','ConvertedComp',])#Read the Data as a Panda Dataframe
stack_df = stackdata[(stackdata['Country'] == 'United States')].dropna()#take only values with US & drop null values
#header =  ['Age','Gender','Country','Formal Education','Year Coding', 'Salary',] #Reindex/Rename Columns 
stack_df.head()

,Age,ConvertedComp,Country,EdLevel,Gender,YearsCode
7,36.0,116000.0,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Man,17
13,27.0,66000.0,United States,"Associate degree (A.A., A.S., etc.)",Man,5
16,25.0,79000.0,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Man,7
17,32.0,1260000.0,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Man,19
18,24.0,83400.0,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Man,9

In [7]:
stack_df.columns # Print Column Name

Index(['Age', 'ConvertedComp', 'Country', 'EdLevel', 'Gender', 'YearsCode'], dtype='object')

In [8]:
stack_df.dtypes # Print DataTypes

Age              float64
ConvertedComp    float64
Country           object
EdLevel           object
Gender            object
YearsCode         object
dtype: object

In [9]:
#Check for Null Values
for column in stack_df.columns:
    print(f"Column {column} has {stack_df[column].isnull().sum()} null values")

Column Age has 0 null values
Column ConvertedComp has 0 null values
Column Country has 0 null values
Column EdLevel has 0 null values
Column Gender has 0 null values
Column YearsCode has 0 null values

#### Job Satisfaction Data Set

In [11]:
filepath = "./ResourcesFiles/2020SurveyResultsPublic.csv"  # Load the dataset.
JobSatData= pd.read_csv(filepath, usecols=[ 'Gender','Country','JobSat','UndergradMajor',])
Job_sat_df = JobSatData[(JobSatData['Country'] == 'United States')].dropna()#take only values with US & drop null values
Job_sat_df.head(1)

,Country,Gender,JobSat,UndergradMajor
7,United States,Man,Slightly dissatisfied,"Computer science, computer engineering, or sof..."

### Women only DataFrame

In [12]:
### Select gender equal to women Column 
stack_women_df= stack_df[(stack_df ['Gender'] == 'Woman')]
stack_women_df.head()

,Age,ConvertedComp,Country,EdLevel,Gender,YearsCode
88,28.0,130000.0,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Woman,6
105,29.0,148000.0,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Woman,5
126,23.0,80000.0,United States,Some college/university study without earning ...,Woman,5
137,30.0,45000.0,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Woman,13
250,27.0,122780.0,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Woman,15

### Man Only DataFrame

In [13]:
# Select only the data with the gender equal to "Man"
stack_men_df= stack_df[(stack_df ['Gender'] == 'Man')]
stack_men_df.head()

,Age,ConvertedComp,Country,EdLevel,Gender,YearsCode
7,36.0,116000.0,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Man,17
13,27.0,66000.0,United States,"Associate degree (A.A., A.S., etc.)",Man,5
16,25.0,79000.0,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Man,7
17,32.0,1260000.0,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Man,19
18,24.0,83400.0,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Man,9

In [14]:
# Save New cleaned File 
#output_file_path = "../Resources/2020StackOverFlow_DevSurvey/clean_survey_results_public.csv""]
#us_df.to_csv(output_file_path, index=False)